# Service variables
PORT=5001
LOG_LEVEL=info  
LOG_CALLER=false

# Keycloak variables
KEYCLOAK_SERVER_URL=http://localhost:8081
KEYCLOAK_REALM=smile
KEYCLOAK_CLIENT_ID=smile
KEYCLOAK_CLIENT_SECRET=
REALM_SYSUSER_NAME=sysuser
REALM_SYSUSER_PASS=smileforever

DOC_URL=/doc

